alfresco-admin-app:
  image:
    repository: ${DOCKER_REGISTRY}/quay.io/alfresco/alfresco-admin-app
    tag: "${AAE_TAG}"

alfresco-deployment-service:
  image:
    repository: ${DOCKER_REGISTRY}/quay.io/alfresco/alfresco-deployment-service
    tag: "${AAE_TAG}"
  init:
    image:
      repository: ${DOCKER_REGISTRY}/alpine
      tag: "${ALPINE_TAG}"
  extraInit:
    image:
      repository: ${DOCKER_REGISTRY}/bitnami/minideb-extras
      tag: "${MINIDEB_EXTRAS_TAG}"

alfresco-modeling-app:
  image:
    repository: ${DOCKER_REGISTRY}/quay.io/alfresco/alfresco-modeling-app
    tag: "${AAE_TAG}"

alfresco-modeling-service:
  image:
    repository: ${DOCKER_REGISTRY}/quay.io/alfresco/alfresco-modeling-service
    tag: "${AAE_TAG}"
  init:
    image:
      repository: ${DOCKER_REGISTRY}/alpine
      tag: "${ALPINE_TAG}"

postgresql:
  image: ${DOCKER_REGISTRY}/postgres
  imageTag: "${POSTGRES_TAG}"

alfresco-identity-service:
  keycloak:
    init:
      image:
        repository: ${DOCKER_REGISTRY}/alpine
        tag: "${ALPINE_TAG}"
    keycloak:
      image:
        repository: ${DOCKER_REGISTRY}/jboss/keycloak
        tag: "${KEYCLOAK_TAG}"
    postgresql:
      image: ${DOCKER_REGISTRY}/postgres
      imageTag: "${POSTGRES_TAG}"
