alfresco-infrastructure:
  alfresco-identity-service:
    keycloak:
      init:
        image:
          repository: ${DOCKER_REGISTRY}/alpine
          tag: ${ALPINE_TAG}
      keycloak:
        image:
          repository: ${DOCKER_REGISTRY}/jboss/keycloak
          tag: ${KEYCLOAK_TAG}
        extraInitContainers: |
          - name: theme-provider
            image: ${DOCKER_REGISTRY}/alfresco/alfresco-keycloak-theme:${KEYCLOAK_THEME_TAG}
            imagePullPolicy: Always
            command:
              - sh
            args:
              - -c
              - |
                echo "Copying theme..."
                cp -R /alfresco/* /theme
            volumeMounts:
              - name: theme
                mountPath: /theme
      postgresql:
        image: ${DOCKER_REGISTRY}/postgres
        imageTag: "${POSTGRES_TAG}"
alfresco-digital-workspace:
  image:
    repository: ${DOCKER_REGISTRY}/alfresco/alfresco-digital-workspace
    tag: ${ADW_TAG}
