apiVersion: v2
name: alfresco-process-infrastructure
version: 7.19.0-rc.162
appVersion: 7.19.0-rc.162
kubeVersion: '>=1.15.0-0'
description: A Helm chart for Alfresco Activiti Enterprise infrastructure
keywords:
  - process
  - alfresco
  - activiti
  - alfresco activiti enterprise
home: https://github.com/Alfresco/alfresco-process-infrastructure-deployment
sources:
  - https://github.com/Alfresco/alfresco-process-infrastructure-deployment
icon: https://avatars0.githubusercontent.com/u/391127?s=200&v=4
dependencies:
  - name: common
    version: 8.7.0-alpha.2
    repository: https://activiti.github.io/activiti-cloud-helm-charts
  - name: keycloakx
    version: 2.3.0
    repository: https://codecentric.github.io/helm-charts
    alias: alfresco-identity-service
    condition: alfresco-identity-service.enabled
  - name: common
    version: 8.7.0-alpha.2
    repository: https://activiti.github.io/activiti-cloud-helm-charts
    alias: alfresco-modeling-service
    condition: alfresco-modeling-service.enabled
  - name: postgresql
    version: 15.5.11
    repository: https://raw.githubusercontent.com/bitnami/charts/archive-full-index/bitnami
    condition: postgresql.enabled
  - name: rabbitmq
    version: 14.4.4
    repository: https://raw.githubusercontent.com/bitnami/charts/archive-full-index/bitnami
    condition: rabbitmq.enabled
  - name: common
    version: 8.7.0-alpha.2
    repository: https://activiti.github.io/activiti-cloud-helm-charts
    alias: alfresco-modeling-app
    condition: alfresco-modeling-app.enabled
  - name: common
    version: 8.7.0-alpha.2
    repository: https://activiti.github.io/activiti-cloud-helm-charts
    alias: alfresco-deployment-service
    condition: alfresco-deployment-service.enabled
  - name: common
    version: 8.7.0-alpha.2
    repository: https://activiti.github.io/activiti-cloud-helm-charts
    alias: alfresco-admin-app
    condition: alfresco-admin-app.enabled
  - name: common
    version: 8.7.0-alpha.2
    repository: https://activiti.github.io/activiti-cloud-helm-charts
    alias: alfresco-tika-service
    condition: alfresco-tika-service.enabled
  - name: common
    version: 8.7.0-alpha.2
    repository: https://activiti.github.io/activiti-cloud-helm-charts
    alias: alfresco-process-analytics-service
    condition: alfresco-process-analytics-service.enabled
  - name: common
    version: 8.7.0-alpha.2
    repository: https://activiti.github.io/activiti-cloud-helm-charts
    alias: alfresco-process-analytics-playground
    condition: alfresco-process-analytics-playground.enabled
  - name: opensearch
    version: 1.11.1
    repository: https://opensearch-project.github.io/helm-charts
    condition: opensearch.enabled
  - name: common
    version: 8.7.0-alpha.2
    repository: https://activiti.github.io/activiti-cloud-helm-charts
    alias: alfresco-identity-adapter-service
    condition: alfresco-identity-adapter-service.enabled
  - name: common
    version: 8.7.0-alpha.2
    repository: https://activiti.github.io/activiti-cloud-helm-charts
    alias: alfresco-static-resources
    condition: alfresco-static-resources.enabled
