{{- if and (index .Values "alfresco-infrastructure" "enabled") (index .Values "alfresco-infrastructure" "alfresco-identity-service" "enabled") }}
apiVersion: v1
kind: Secret
metadata:
  name: realm-secret
  labels:
    app: {{ template "alfresco-process-infrastructure.name" . }}
    chart: {{ template "alfresco-process-infrastructure.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
type: Opaque
data:
  "alfresco-aps-realm.json": {{ tpl (.Files.Get "alfresco-aps-realm.json") . | b64enc | quote }}
{{- end}}
