name: Create Release

on:
  push:
    tags:
      - '7.15.8'

env:
  CHART_DIR: "helm/alfresco-process-infrastructure"
  HELM_REPO_BASE_URL: https://kubernetes-charts.alfresco.com
  HELM_REPO: Alfresco/charts
  HELM_REPO_BRANCH: master
  HELM_REPO_SUBFOLDER: stable

jobs:
  prerelease:
    runs-on: ubuntu-latest
    env:
      VERSION: ${{ github.ref_name }}
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - id: helm-package-chart
        name: Package Helm chart
        uses: Alfresco/alfresco-build-tools/.github/actions/helm-package-chart@a83ae2d4491908083ba2fc0a5b9f6b2ca82f063f # v5.15.1
        with:
          chart-dir: ${{ env.CHART_DIR }}

      - id: helm-publish-chart
        name: Publish Helm chart
        uses: Alfresco/alfresco-build-tools/.github/actions/helm-publish-chart@a83ae2d4491908083ba2fc0a5b9f6b2ca82f063f # v5.15.1
        with:
          chart-package: ${{ steps.helm-package-chart.outputs.package-file-path }}
          helm-charts-repo: ${{ env.HELM_REPO }}
          helm-charts-repo-branch: ${{ env.HELM_REPO_BRANCH }}
          helm-charts-repo-subfolder: ${{ env.HELM_REPO_SUBFOLDER }}
          helm-charts-repo-base-url: ${{ env.HELM_REPO_BASE_URL }}
          token: ${{ secrets.BOT_GITHUB_TOKEN }}
          git-username: ${{ secrets.BOT_GITHUB_USERNAME }}

  notify:
    runs-on: ubuntu-latest
    needs:
      - prerelease
    if: always() && failure() && github.event_name == 'push'
    steps:
      - name: Slack Notification
        uses: Alfresco/alfresco-build-tools/.github/actions/send-slack-notification@a83ae2d4491908083ba2fc0a5b9f6b2ca82f063f # v5.15.1
        with:
          channel-id: 'eng-hxp-studio-releases-gh-notifs'
          token: ${{ secrets.SLACK_NOTIFICATION_BOT_TOKEN }}
